{% extends 'ecart/admin/base.html' %}

{% load static %}

{% block title %} Admin Home{% endblock title %}

{% block content %}


    <p class="text-start text-black fs-4 fw-bold text-shadow" style="font-family: 'Suez One', serif;">
        <span class="fst-italic me-2">Good Morning,</span> Nishikant
    </p>

    <div class="row g-4">
        <div class="col-sm-3">
            <div class="bg-primary shadow p-2 h-100">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="text-white display-4 text-center">{{received_order}}</span>
                        <span class="text-white fs-6 fw-bold text-center">Received Orders</span>
                    </div>
                    <div class="text-white">
                        <i class="fas fa-people-carry fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="bg-warning shadow p-2 h-100">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="text-white display-4 text-center">{{pending_order}}</span>
                        <span class="text-white fs-6 fw-bold text-center">Parcel Pending</span>
                    </div>
                    <div class="text-white">
                        <i class="fas fa-parachute-box fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="bg-success shadow p-2 h-100">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="text-white display-4 text-center">{{complete_order}}</span>
                        <span class="text-white fs-6 fw-bold text-center">Complete Orders</span>
                    </div>
                    <div class="text-white">
                        <i class="fas fa-boxes fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="bg-danger shadow p-2 h-100">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="text-white display-4 text-center">{{cancel_order}}</span>
                        <span class="text-white fs-6 fw-bold text-center">Cancel Orders</span>
                    </div>
                    <div class="text-white">
                        <i class="fas fa-box-open fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 g-3">
        <div class="col-sm-6">
            <div class="bg-white p-2 shadow">
                <canvas id="sale-chart"></canvas>
                <script>
                    var ctx = document.getElementById('sale-chart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# No. of Sales',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="bg-white p-2 shadow">
                <canvas id="order-chart"></canvas>
                <script>
                    var ctx = document.getElementById('order-chart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# No. of Orders',
                                data: [10, 19, 7, 12, 6, 18],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>

    </div>

{% endblock content %}

