
{% extends 'ecart/admin/base.html' %}

{% block title %} Product Management {% endblock title %}

{% block content %}

<div class="container">
    <p class="text-center text-black fs-3 fw-bold py-2 bg-white rounded">Product Management</p>
    <table id="stock_data" class="table table-stripe table-light">
        <thead class="table-dark">
            <tr class="align-middle">
                <th class="text-nowrap">Sr. No.</th>
                <th>Product Name</th>
                <th class="text-nowrap">Stock in Qty.</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for field in data %}
            <tr class="align-middle">
                <td>{{forloop.counter}}</td>
                <td>{{field.product_name}}</td>
                <td class=""><div class="col-md-6"><input class="form-control" type="number" name="stock" value="{{field.stock}}" /></div></td>
                <td class="text-nowrap"><a href="/admin/update_product/{{field.id}}" class="btn btn-success">Update</a>
                    <a href="/admin/delete_product/{{field.id}}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}
