{% extends 'ecart/base.html' %}

{% block title %} Change Password {% endblock title %}

{% block content %}

<div class="container">
    <div class="col-sm-8 col-lg-6 mx-auto mt-5 shadow">
                    <!-- Password Change Code -->
                    <div class="bg-light mb-4" style="margin-bottom: -1rem !important;">
                        <p class="text-black text-center fs-4 fw-bold py-2 px-3 rounded-top border">Password Change</p>
                    </div>
                    <div class="p-3 rounded-bottom border">
                        <form action="/changepassword/" method="post">
                            {% csrf_token %}
                            <div class="mb-4">
                                <div class="form-outline">
                                    <!-- <input type="text" class="form-control" name="cpass" autocomplete="off"> -->
                                    {{form.old_password}}
                                    <label class="form-label" for="{{form.old_password.id_for_label}}">Current Password</label>
                                </div>
                                {{form.old_password.errors}}
                            </div>
                            <div class="mb-4">
                                <div class="form-outline">
                                    <!-- <input type="text" class="form-control" name="npass" autocomplete="off"> -->
                                    {{form.new_password1}}
                                    <label class="form-label" for="{{form.new_password1.id_for_label}}">New Password</label>
                                </div>
                                {{form.new_password1.errors}}
                            </div>
                            <div class="mb-4">
                                <div class="form-outline">
                                    <!-- <input type="text" class="form-control" name="cnfpass" autocomplete="off"> -->
                                    {{form.new_password2}}
                                    <label class="form-label" for="{{form.new_password2.id_for_label}}">Confirm Password</label>
                                </div>
                                {{form.new_password2.errors}}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success col-12 col-lg-6">Change Password</button>
                            </div>
                        </form>
                    </div>
    </div>
</div>

{% endblock content %}