{% extends 'ecart/base.html' %}

{% block title %}Verification{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        
        <div class="mx-auto col-md-4 border rounded shadow mt-5 p-3">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="col-3 bg-success p-3 rounded-circle">
                    <i class="fas fa-check fa-3x text-white"></i>
                </div>
                <p class="text-center text-black fs-5 fw-bold mt-3">Your account successfully verification.</p>
            </div>
        </div>

    </div>
</div>

{% endblock content %}